<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>ProfileTests</key>
		<dict>
			<key>testBalancedMultiplication()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.39685</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2016-01-03 18:16:42</string>
				</dict>
			</dict>
			<key>testDivision()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.68031</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2016-01-03 18:16:42</string>
				</dict>
			</dict>
			<key>testFibonacciAddition()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.4616</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2016-01-03 18:16:42</string>
				</dict>
			</dict>
			<key>testGCD()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.4919</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2016-01-03 18:16:42</string>
				</dict>
			</dict>
			<key>testModularExponentiation()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.041</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2016-01-03 18:16:42</string>
				</dict>
			</dict>
			<key>testMultiplicationByDigit()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.87534</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2016-01-03 18:16:42</string>
				</dict>
			</dict>
			<key>testSquareRoot()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.47787</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2016-01-03 18:16:42</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
