<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>ProfileTests</key>
		<dict>
			<key>testBalancedMultiplication()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.313</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2015-12-31 05:49:12</string>
				</dict>
			</dict>
			<key>testDivision()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.805</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2015-12-31 05:50:01</string>
				</dict>
			</dict>
			<key>testFibonacciAddition()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.862</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2015-12-31 05:49:56</string>
				</dict>
			</dict>
			<key>testMultiplicationByDigit()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.19913</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2015-12-31 03:07:50</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
