<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>ProfileTests</key>
		<dict>
			<key>testBalancedMultiplication()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.423</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2016-01-07 15:28:42</string>
				</dict>
			</dict>
			<key>testDivision()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.76</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2016-01-07 15:28:38</string>
				</dict>
			</dict>
			<key>testFibonacciAddition()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.687</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2016-01-07 15:28:33</string>
				</dict>
			</dict>
			<key>testGCD()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.876</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2016-01-07 15:28:29</string>
				</dict>
			</dict>
			<key>testMersennePrimes()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.423</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2016-01-07 15:28:10</string>
				</dict>
			</dict>
			<key>testModularExponentiation()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.239</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2016-01-07 15:28:14</string>
				</dict>
			</dict>
			<key>testMultiplicationByDigit()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.959</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2016-01-07 15:28:17</string>
				</dict>
			</dict>
			<key>testSquareRoot()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.53</real>
					<key>baselineIntegrationDisplayName</key>
					<string>2016-01-07 15:28:21</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
