// Increment the build number whenever you modify the version string.
VERSION_STRING = 2.2.0
BUILD_NUMBER = 7

PROJECT_NAME = BigInt
BUNDLE_IDENTIFIER_BASE = hu.lorentey.$(PROJECT_NAME)

IPHONEOS_DEPLOYMENT_TARGET = 8.0
MACOSX_DEPLOYMENT_TARGET = 10.9
WATCHOS_DEPLOYMENT_TARGET = 2.0
TVOS_DEPLOYMENT_TARGET = 9.0

APPLICATION_EXTENSION_API_ONLY = YES
